.avatarWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 178px;
}

.avatarContainer {
  position: relative;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 8px solid #ebd8ff;
}

.avatarImg {
  width: 80px;
  border-radius: 50%;
}

.line {
  flex: 1;
  height: 8px;
  width: 150px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
}
